<ng-container [appPlaceholder]></ng-container>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <!-- <div class="alert alert-danger" *ngIf="error">
      {{ error }}
    </div> -->
    <!-- <app-alert
      *ngIf="error"
      [message]="error"
      (closeAlert)="onErrorHandling()"
    ></app-alert> -->
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          #email="ngModel"
          required
          email
        />
        <div class="alert alert-danger" *ngIf="!email.valid && email.touched">
          Please enter a valid Email!
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          #pwd="ngModel"
          required
          minlength="6"
        />
        <div class="alert alert-danger" *ngIf="!pwd.valid && pwd.touched">
          Password must be at least 6 characters long!
        </div>
      </div>
      <div>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!authForm.valid"
        >
          {{ isLoginMode ? 'Login' : 'Sign Up' }}
        </button>
        |
        <button class="btn btn-primary" type="button" (click)="onSwitchMode()">
          Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
        </button>
      </div>
    </form>
  </div>
</div>
